.App {
text-align: center;
}

.App-header {
    background-color: #252422;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.HomeSplash {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}

.bg-1 {
    background-image: url('/public/images/Island.jpg');
    z-index: 10;
}

.bg-2 {
    background-image: url('/public/images/HomeSplash.jpg');
    background-attachment: scroll;
    z-index: 10;
}

.median {
    background-color: black;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.projects-title {
    position:relative;

    top: 13%;
    width: 100%;
    color: black;
    font-weight:1000;
    text-shadow: 1px 1px white;
    letter-spacing: 2px;
    z-index: 5;
}

.main-title {
    position: relative;
    top: 20%;
    width: 100%;
    font-size: 20px;
}

.fade-in-text {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.scroll {
    width: 100%;
    height: 100vh;
}

