.background {
  background: url('/public/images/bottom.jpg'),
              url('/public/images/StarUpdate.jpg'),
              url('/public/images/StarUpdate.jpg'),
              url('/public/images/StarUpdate.jpg'),
              url('/public/images/StarUpdate.jpg');
              /* linear-gradient(to bottom, black, #213669 30%); */
              /* linear-gradient(to left, transparent , #213669 ); */

  background-position: 
                       left 3300px,
                       left 0,
                       left 900px,
                       left 1800px,
                       left 2700px;
                       /* left 5000px; */

  background-repeat: repeat-x;
  width:100%;
  height: 4646px;
  /* mix-blend-mode:hard-light; */
  /* background-blend-mode:darken; */
  z-index: 1;
}

.roach-img {
  /* mix-blend-mode:screen; */
  position: absolute;
  left:0;
  width:10%;
  right: 0;
}

.fridge-img {
  position: fixed;
  transform: rotate(20deg);
  z-index: 9;
  top: 20vh;
  right: 0px;
  width: 15%;
}

.blending-top {
  background: linear-gradient(to bottom, black , #213659 );
  position: relative;
  /* top: xxx;  used if blending doesn't take up all of stars div*/ 
  width: 100%;
  height: 3300px; /* length from top of stars div to top of "bottom.jpg"
  /* background-position: left 500px; */
  opacity: .3;
}

.blending-bottom {
  background: linear-gradient(to bottom, #0f141e, transparent);
  position: relative;
  /* top: 300px; */
  width: 100%;
  height: 1346px; /* bottom.jpg height */
  opacity: .6;
}





@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-33%, 0, 0);
    }
  }